        <!-- <script src="static/js/angular/services.js"></script> -->
        <script src="static/js/angular/rfm_custom.js"></script>
        <script src="static/js/tiff.min.js"></script>
        <script src="static/js/tiff.js"></script>


<style>

.dataleft{
    text-align: right;
    /*margin-right: -12.1rem !important;*/
}
.dataleft .logout-btn{
    font-size: 12px;
    height: 32px;
    padding: 0 1rem;
}

@media(min-width:1024px) {
    .dataleft{
        margin-right: -9rem !important;
    }
}
@media(min-width:1300px) {
    .dataleft{
        margin-right: -12.1rem !important;
    }
}

</style>



<div class="row dataleft" ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default logout-btn">Logout</a>
</div>




<h1>successfully logged in</h1>

