        <!-- <script src="static/js/angular/services.js"></script> -->
        <script src="static/js/rfm_custom.js"></script>
        <script src="static/js/tiff.min.js"></script>
        <script src="static/js/tiff.js"></script>


<style>

.dataleft{
    text-align: right;
}

</style>



<div class="row dataleft" ng-controller="logoutController">
  <a ng-click='logout()' class="btn btn-default">Logout</a>
</div>


        <div class="row">
            <div class="col s12 m12">
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <div class="file-field input-field">
                      <div class="btn gray-bg">
                        <span>Select an image</span>
                        <input type="file" id="image" onchange="imgchange(event)">
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div>
                    </div>
                    <button id="upload-image-btn" class="btn waves-effect waves-light right" type="button" name="action">Start Prediction
                    </button>
                </form>
            </div>
        </div>
        <div id="progress" class="mlrest-top"></div>

        <div class="center-align">
            <img id="process-img" class="hide">
        </div>





